body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("./Basket\ Ball.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(70%); 
}

.nav1{
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 12px rgb(45, 45, 215);
    color: white;
    background-color: blue;
    height: 100px;
    text-align: center;
    width: 100%;
}

.img{
    height:130px;
}

.nav2{
    margin: 1.5%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.playersPositions{
    color: rgb(45, 45, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
}

.PointGuard{
    margin-top: 2%;
    box-shadow: 0 3px 12px rgb(45, 45, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 12px;
    border: 1px solid rgb(118, 118, 118);
    height: auto;
    width: 170px;
}
.ShootingGuard{
    margin-top: 2%;
    box-shadow: 0 3px 12px rgb(45, 45, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 12px;
    border: 1px solid rgb(118, 118, 118);
    height: auto;
    width: 170px;
}
.SmallForward{
    margin-top: 2%;
    box-shadow: 0 3px 12px rgb(45, 45, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 12px;
    border: 1px solid rgb(118, 118, 118);
    height: auto;
    width: 170px;
}
.PowerForward{
    margin-top: 2%;
    box-shadow: 0 3px 12px rgb(45, 45, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 12px;
    border: 1px solid rgb(118, 118, 118);
    height: auto;
    width: 170px;
}
.Center{
    margin-top: 2%;
    box-shadow: 0 3px 12px rgb(45, 45, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 12px;
    border: 1px solid rgb(118, 118, 118);
    height: auto;
    width: 170px;
}

.nav3{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.search{
    box-shadow: 0 3px 12px rgb(45, 45, 215);
    margin: 0;
    /* padding: 1%; */
    background-color: rgb(245, 245, 245);
    border-radius: 12px;
    border: 1px solid rgb(118, 118, 118);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: auto;
    gap: 13px;
}

.select{
    margin-top: 2%;
    box-shadow: 0 3px 12px rgb(45, 45, 215);
    display: flex;
    justify-content: center;
    width: 45%;
}

input{
    display: flex;
    justify-content: center;
    width: 35%;
}

.btnSearch{
    box-shadow: 0 3px 12px rgb(250, 111, 129);
    color: white;
    background-color: rgb(71, 71, 255);
    height: 20px;
    width: 20%;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.table{
    color: white;
    background-color: rgb(194, 83, 83);
    box-shadow: 0 3px 12px rgb(45, 45, 215);
    width: 100%;
    height: auto;
    font-size: larger;
    margin: 0;
}
.headTable{
    background-color: #ff3333;
    padding: 5px;
}
th{
    padding: 10px;
    border: 1px solid white;
}
thead{
    background-color: #999494;
    padding: 5px;
}

.btnAdd{
    box-shadow: 0 12px 12px rgb(0, 0, 0);
    color: white;
    background-color: rgb(71, 71, 255);
    height: auto;
    width: auto;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
}